.button {
    position: relative;
}



.button button {
    background: #1565D8;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.button button a {
    text-decoration: none;
}

.button button:hover {
    outline: 3px solid #1565D8;
}

.button img {
    position: absolute;
    top: 27.5px;
    left: 35px;
}