.or {
    display: block;
    position: relative;
    margin: 5px auto 15px;
    text-align: center;
    color: #BABABA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.or::after,
.or::before {
    content: "";
    position: absolute;
    width: 40%;
    border: 1px solid #F5F5F5;
    top: 7px;
}

.or::after {
    left: 0;
}

.or::before {
    right: 0;
}